@import '../../style/common/custom.scss';
.event-wrap{
  position: relative;
  height: 225px;
  width: 100%;
  background-color: #e9f3ff;
  &::before{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 173px;
    height: 130px;
    background: url(../../assets/event-bg.png) center no-repeat;
  }
  .event-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .flex-item{
    width: 50%;
    padding-top: 40px;
    .item-title,
    .item-desc,
    .item-txt{
      color: $font-color-333;
    }
    .item-title{
      font-size: $font-size-20;
      line-height: 1;
    }
    .item-desc{
      font-size: $font-size;
      line-height: 18px;
      width: 280px;
      margin-top: 14px;
    }
    .item-txt{
      font-size: $font-size-12;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
}
