@import '../../style/common/custom.scss';
.event-wrap{
  height: 225px;
  width: 100%;
  background-color: #e9f3ff;
  .event-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .flex-item{
    width: 50%;
    .item-title,
    .item-desc{
      color: $font-color-333;
    }
    .item-title{
      font-size: $font-size-20;
      line-height: 1;
    }
    .item-desc{
      font-size: $font-size;
      line-height: 18px;
    }
  }
}
