@import '../../style/common/custom.scss';
/** 平台概览 **/
.main-wrap{
  position: relative;
  .pt-title{
    font-size: $font-size-20;
    color: $font-color-333;
    text-align: center;
    line-height: 1;
    margin-top: 40px;
  }
  .pt-icon-wrap{
    position: relative;
    .pt-icon{
      display: flex;
      justify-content: space-around;
      .icon{
        font-size: 120px;
        color: #71b1ff;
      }
    }
  }
}
.event-wrap{
  height: 225px;
  width: 100%;
  background-color: #e9f3ff;
  .main-wrap{
    position: relative;
    height: 100%;
    &::before{
      position: absolute;
      right: 0;
      bottom: -20px;
      content: '';
      width: 173px;
      height: 130px;
      background: url(../../assets/event-bg.png) center no-repeat;
    }
  }
  .event-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .flex-item{
    width: 50%;
    padding-top: 40px;
    .item-title,
    .item-desc,
    .item-txt{
      color: $font-color-333;
    }
    .item-title{
      font-size: $font-size-20;
      line-height: 1;
    }
    .item-desc{
      font-size: $font-size;
      line-height: 18px;
      width: 280px;
      margin-top: 14px;
    }
    .item-txt{
      font-size: $font-size-12;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
}
