.banner-wrap{
  width: 100%;
  height: 220px;
  .main-wrap{
    position: relative;
  }
}
.train-bg{
  background: url(../../assets/train-banner.png) center no-repeat;
  background-size: cover;
}
.news-bg{
  background: url(../../assets/news-banner.png) center no-repeat;
  background-size: cover;
}
.about-bg{
  background: url(../../assets/about-banner.png) center no-repeat;
  background-size: cover;
}

.banner-txt{

}
