@import '../../style/common/breadcrumb.scss';
@import '../../style/mixins/index.scss';
#main > .main-wrap{
  display: flex;
  border-right: 1px solid $breadcrumb-border-color;
  .news-info-wrap{
    width: 700px;
    .news-item{
      border-bottom: 1px solid $breadcrumb-border-color;
      padding: $padding-20 $padding-20 15px;
    }
    .news-default{
      .news-title{
        @include overflowHidden();
        font-size: $font-size-20;
        color: $news-color;
        line-height: 1;
        max-width: 635px;
      }
    }
  }
}
