@import '../../style/common/breadcrumb.scss';

#main > .main-wrap{
  display: flex;
  border-right: 1px solid $breadcrumb-border-color;
  .news-info-wrap{
    width: 700px;
    .news-item{
      border-bottom: 1px solid $breadcrumb-border-color;
    }
    .news-default{
      .news-title{
        font-size: $font-size-20;
        color: $news-color;
        line-height: 1;

      }
    }
  }
}
